<div class="container">
  <div class="col-md-8 offset-2 mt-2">
    <div class="form-group">
      <h1
        class="display-5 mt-2 text-uppercase text-success text-center font-weight-bold"
      >
        Find players
      </h1>
      <input
        type="text"
        class="form-control bg-light"
        placeholder="search cricket player😃"
        #player
        (keyup.enter)="searchPlayer(player.value)"
      />
    </div>

    <ul class="list-group">
      <li class="list-group-item mt-2">
        <span class="badge badge-primary">Player name:</span>
        <span class="text-dark">{{ player.fullName }} </span>
      </li>
    </ul>
  </div>
</div>

<div>
  <ul class="list-group">
    <li class="list-group-itme mt-2">
      <p><img src="{{ playerInfo.imageURL }} " alt="" /></p>
    </li>
  </ul>
</div>
