<ul class="list-group" *ngFor="let emp of users">
  <li class="list-group-item mt-2">EmpName : {{ emp.name }}</li>
  <li class="list-group-item mt-2">ID : {{ emp.id }}</li>
  <li class="list-group-item mt-2">
    <img src="{{ emp.photo }} " alt="" />
  </li>
  <li class="list-group-item mt-2">Designation : {{ emp.designation }}</li>
  <li class="list-group-item mt-2">Date of Join : {{ emp.doj }}</li>
  <li class="list-group-item mt-2">Date of Join : {{ emp.dob }}</li>
  <li class="list-group-item mt-2">Company name : {{ emp.companyname }}</li>
  <li class="list-group-item mt-2">salary : {{ emp.salary }}</li>
  <li class="list-group-item mt-2">location : {{ emp.location }}</li>
</ul>
<hr />
<hr />
-->
