<!-- <qspider></qspider>
<qspider></qspider>
<courses></courses> -->
<app-header-component></app-header-component>
<!-- <button class=" btn btn-primary">submit</button> -->
<!-- <div class="container">
   <app-login></app-login>
  <app-employee></app-employee>
</div> -->
<!-- this is built in directive and it is using glue between html and router maodute-->
<!-- <div>
  <router-outlet></router-outlet>
</div> -->
<!-- <div class="container">
  <courses></courses>
</div> -->

<!-- <div class="container">
  <app-simple></app-simple>
</div> -->
<!-- <app-login></app-login> -->
<!-- <app-contact></app-contact> -->
<!-- <app-register></app-register> -->
<!-- <div class="container"> -->
<!-- <app-students></app-students> -->
<!-- <app-form-builder></app-form-builder> -->
<!-- <div class="row">
    <div class="col-md-6">
      <app-newlogin>
        <h1 id="login">Login</h1>
        <button id="btn">Login</button>
        <div>
          <span>dont heva account please</span>
          <a href="/register">register</a>
        </div>
      </app-newlogin>
    </div>
    <div class="col-md-6">
      <app-newlogin>
        <h1 id="register">Register</h1>
        <button id="btn">Register</button>
        <div>
          <span>Already register here</span>
          <a href="/login">login</a>
        </div>
      </app-newlogin>
    </div>
  </div>
</div> -->
<router-outlet></router-outlet>
<!-- <courses></courses> -->
<!-- <app-restapi></app-restapi> -->
