<div class="row">
  <div class="col-md-6">
    <app-register>
      <h1>Register</h1>
      <button class="btn-primary btn-block mt2">Register</button>
      <div>
        <span>Already registered Please</span>
        <a routerLink="/login">Login</a>
      </div>
    </app-register>
  </div>

  <div class="col-md-6">
    <app-register>
      <h1>Login</h1>
      <button class="btn-primary btn-block mt2">Login</button>
      <div>
        <span>Don't heve account</span>
        <a routerLink="/register">Register</a>
      </div>
    </app-register>
  </div>
</div>
